/*================ GLOBAL STYLES ======================*/

* {
  font-family: "Cormorant Garamond", serif;
  box-sizing: border-box;
}

.gallery img {
  width: 375px;
  height: 275px;
  margin: 10px 25px;
}
img:hover {
  opacity: 0.5;
}

.search-field {
  text-align: center;
}

label {
  display: block;
  margin-top: 1em;
}

#search {
  width: 70%;
  height: 3em;
  margin: 0.5em 2em 2em 2em;
  transition: background-color 1s ease-in-out, border 1s ease-in-out, padding 0.2s ease-in-out;
  outline: none;
  border: 1px solid #A5F5CE;
}

#search:focus {
  background-color: #CAEEDD;
  border: 1px solid #89CAAA;
  padding: 10px;
}

a:focus {
  outline: none;
}

/* FLEXBOX */

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* LIGHTBOX STYLES */

.lb-data .lb-details {
  width: 100%;
  float: left;
  text-align: center;
  line-height: 1.1em;
}

/*Display lightbox images to fit screen on mobile devices*/
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: 500px;
  max-height: none;
  border-radius: 3px;
  border: 4px solid white;
}


/* MEDIA QUERIES */

@media (min-width: 768px) {
  #search {
    width: 50%;
  }

  .container {
    flex-direction: row;
  }
  .lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    border: 4px solid white;
  }
}

@media (min-width: 1000px) {
  label {
    display: inline;
  }
  #search {
    width: 33%;
  }
  .gallery img {
    width: 275px;
    height: 215px;
  }
}
